<div class="control-group">
  <%= f.label :select_product %>
  <div class="controls">
    <%= f.collection_select(:product_id, @products, :id, :nama_product, {}) %>
    <%= f.number_field :jumlah_barang, placeholder: "Jumlah" %>
  </div>
</div>
<%= link_to_remove_association "Remove Detail", f %>